
header {
  position: fixed;
  background-color: aquamarine;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  top: 0;
  display: grid;
  grid-template-areas: "h1  h1 logo"
                       "nav nav nav";
  align-items: center;
}
h1 {
  grid-area: h1;
  background-color: bisque;
}

#header-img {
  vertical-align: middle;
  justify-self: end;
  grid-area: logo;
  background-color: aliceblue;
}

#nav-bar {
  grid-area: nav;
  background-color: blueviolet;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  text-align: center;
  padding: 10px 10px;
}

#header-img {
  height: 65px;
}

main {
  margin: 110px auto 0;
  width: 95%;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: aquamarine;
  width: 100%;
}

footer ul {
  list-style-type: none;
  padding: 5px;
}

footer a {

}

#logo {
  height: 50px;
}