body {
  margin: auto;
}

header {
  position: fixed;
  background-color: aquamarine;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  top: 0;
  display: grid;
  align-items: center;
  grid-template-areas: "h1  h1 logo"
  "nav nav nav";
}

h1 {
  grid-area: h1;
  font-family: 'Euphoria Script', cursive;
  font-size: 40px;
}

#header-img {
  justify-self: end;
  text-align: right;
  grid-area: logo;
}

#nav-bar {
  grid-area: nav;
  background-color: blueviolet;;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

header li a:hover {
  background-color: pink;
}

#header-img {
  height: 75px;
}

h2 {
  text-align: center;
  font-family: 'Euphoria Script', cursive;
}

h3 {
  font-family: 'Euphoria Script', cursive;
}

main {
  position: center;
  margin: 150px auto;
  width: 95%;
  align-items: center;
}

section {
  padding: 10px;
}

#product-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
}

.product-card {
  background-color: bisque;
  max-width: 30%;
  text-align: center;
  flex: 0 0 30%;
}

.product-card img {
  max-height: 350px;
  width: 100%;
}

#news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#form {
  max-width: 25%;
}

#video {
  flex-basis: content;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: aquamarine;
  width: 100%;
}

footer ul {
  list-style-type: none;
  padding: 10px;
}

#logo {
  height: 50px;
}

@media only screen and (max-width: 600px) {
  #product-gallery {
    flex-direction: column;
  }

  .product-card {
    background-color: bisque;
    max-width: 100%;
    text-align: center;
    flex: 0 0 30%;
    margin-bottom: 10px;
  }

  #news {
    flex-direction: column-reverse;
  }

  #form {
    max-width: 100%;
  }
}