body {
  margin: auto;
}

header {
  position: fixed;
  background-color: aquamarine;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  top: 0;
  display: grid;
  align-items: center;
  grid-template-areas: "h1  h1 logo"
                       "nav nav nav";
}

h1 {
  grid-area: h1;
}

#header-img {
  justify-self: end;
  grid-area: logo;
}

#nav-bar {
  grid-area: nav;
  background-color: blueviolet;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover {
  background-color: pink;
}

#header-img {
  height: 75px;
}

main {
  position: fixed;
  top: 150px;
  width: 95%;
}

#product-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#form {
  max-width: 25%;
}

#video {
  flex-basis: content;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: aquamarine;
  width: 100%;
}

footer ul {
  list-style-type: none;
  padding: 10px;
}

#logo {
  height: 50px;
}